<!DOCTYPE html>
<html>
<head>
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.ie.css" /><![endif]-->

    <link rel="stylesheet" href="../../stylesheets/leaflet-sidebar.css" />
    <link rel="stylesheet" href="../../stylesheets/geodesa.css" />
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }
        .lorem {
            font-style: italic;
            color: #AAA;
        }
    </style>
</head>
<body>
  <div class="panel panel-info nuevoformulario">
            <div class="panel-heading">
              <h3 class="panel-title"><p>Dispositivo: </p></h3>
            </div>
            <div class="panel-body">
                <label for="nameDevice">Nombre</label>
                <input class="form-control" id="nameDevice" type="text" placeholder="<%= device.name %>" readonly><br>
                <label for="serial_numberDevice">Número de serie</label>
                <input class="form-control" id="serial_numberDevice" type="text" placeholder="<%= device.serial_number %>" readonly><br>
                <label for="locationDevice">Localización</label>
                <input class="form-control" id="locationDevice" type="text" placeholder="<%= device.location.coordinates %>" readonly><br>
                <label for="addressDevice">Dirección</label>
                <input class="form-control" id="addressDevice" type="text" placeholder="<%= device.address %>" readonly><br>
                <label for="cityDevice">Localidad</label>
                <input class="form-control" id="cityDevice" type="text" placeholder="<%= device.city%>" readonly><br>
                <label for="postal_codeDevice">Código postal</label>
                <input class="form-control" id="postal_codeDevice" type="text" placeholder="<%= device.postal_code%>" readonly><br>
                <label for="provinceDevice">Provincia</label>
                <input class="form-control" id="provinceDevice" type="text" placeholder="<%= device.province%>" readonly><br>
                <label for="instalationDevice">Instalación</label>
                <input class="form-control" id="instalationDevice" type="text" placeholder="<%= device.instalation %>" readonly><br>
                <label for="date_instalationDevice">Fecha de instalación</label>
                <input class="form-control" id="date_instalationDevice" type="text" placeholder="<%= device.date_instalation.getDate() + "/" + (device.date_instalation.getMonth()+1 ) + "/" + device.date_instalation.getFullYear() %>" readonly><br>
                <label for="id_estadoDevice">Estado (0 - fallo, 1 - ok, 2 - revision) </label>
                <input class="form-control" id="id_estadoDevice" type="text" placeholder="<%= device.id_estado %>" readonly><br>
                <label for="registryDevice">Registro</label>
                <input class="form-control" id="registry.dateDevice" type="text" placeholder="<%= device.registrydate %>" readonly><br>
                <input class="form-control" id="registry.id_casoDevice" type="text" placeholder="<%= device.registryid_caso %>" readonly><br>
                <label for="revisionsDevice">Revisiones</label>
                <input class="form-control" id="revisionsdateDevice" type="text" placeholder="<%= device.revisionsdate%>" readonly><br>
                <input class="form-control" id="revisionsid_estadoDevice" type="text" placeholder="<%= device.revisionsid_caso %>" readonly><br>
                <input class="form-control" id="revisionsid_revisorDevice" type="text" placeholder="<%= device.revisionsid_revisor %>" readonly><br>
                <label for="makeDevice">Marca</label>
                <input class="form-control" id="makeDevice" type="text" placeholder="<%= device.make %>" readonly><br>
                <label for="modelDevice">Modelo</label>
                <input class="form-control" id="modelDevice" type="text" placeholder="<%= device.model %>" readonly><br>
                <label for="firmwareDevice">firmware</label>
                <input class="form-control" id="firmwareDevice" type="text" placeholder="<%= device.firmware %>" readonly><br>

            </div>
  </div>

  <form action="/devices/<%= device._id %>/revisions" method="get">
      <div class="buttonPrimary">
        <button  class="btn btn-primary btn-lg active">Revisiones</button>
      </div>
  </form><br>
  <form action="/devices/<%= device._id %>/registries" method="get">
      <div class="buttonPrimary">
        <button  class="btn btn-primary btn-lg active">Registro</button>
      </div>
  </form>

  <hr>
  <div class="backButton">
    <a href="<%= redir %>" class="btn btn-info btn-lg active btn-block">Volver</a>
  </div>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
  <script src="../../js/leaflet-sidebar.js"></script>

</body>
